body {
    padding: 5%;
    padding-left: 30%;
    padding-right: 30%;
    font-family: sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Estilos para la lista de submenús */
.submenu {
    display: none;
    padding-left: 20px;
}

.contenedor-lista {
    overflow-y: auto;
    max-height: 300px; /* Ajustar la altura según sea necesario */
}

.tabla-objetos {
    width: 100%;
    border-collapse: collapse;
}

.tabla-objetos th, .tabla-objetos td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

.btn-menos, .btn-mas {
    padding: 5px 10px;
    cursor: pointer;
}

.btn-menos {
    background-color: #ff0000; /* Rojo */
    color: white;
}

.btn-mas {
    background-color: #008000; /* Verde */
    color: white;
}

/* Estilos para hacer las imágenes responsivas */
.imagen-responsive {
    border-radius: 20em;
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la relación de aspecto */
}

/* Estilos para dispositivos móviles con pantalla pequeña */
@media (max-width: 767px) {
    .imagen-responsive {
        width: 100%; /* La imagen ocupará todo el ancho del contenedor en dispositivos móviles */
    }
}

/* Estilos para tablets de al menos 7 pulgadas */
@media (min-width: 600px) and (max-width: 1023px) {
    .imagen-responsive {
        width: 80%; /* La imagen ocupará el 80% del ancho del contenedor en tablets */
    }
}

/* Estilos para dispositivos más grandes, como PCs */
@media (min-width: 1024px) {
    .imagen-responsive {
        /* Puedes ajustar estos estilos según tus preferencias para dispositivos más grandes */
        width: auto;
        height: auto;
    }
}

