@{
    ViewData["Title"] = "Cocina";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th></th>
        </tr>
    </thead>
   
</table>
